<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New EP</title>
</head>
<body>
<div th:if="${educationalProgram.getId() == null}"><h1>Новая образовательная программа</h1></div>
<div th:unless="${educationalProgram.getId() == null}"><h1>Изменение образовательной программы</h1></div>

<form th:method="POST" th:action="@{/educationalPrograms}" th:object="${educationalProgram}">
    <input type="hidden" th:field="*{id}"/>
    <label for="title">Введите название программы: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Err</div>
    <br>

    <label for="cypher">Введите шифр программы: </label>
    <input type="text" th:field="*{cypher}" id="cypher"/>
    <div style="color: red" th:if="${#fields.hasErrors('cypher')}" th:errors="*{cypher}">Err</div>
    <br>

    <label for="level">Выберите уровень образовательной программы: </label>
    <select th:object="${educationalProgram}" th:field="*{level}" id="level">
        <option th:each="level : ${levels}" th:value="${level.getId()}" th:text="${level.getName()}">
        </option>
    </select>
    <div style="color: red" th:if="${#fields.hasErrors('level')}" th:errors="*{level}">Err</div>
    <br>

    <label for="standard">Выберите стандарт обучения: </label>
    <select th:object="${educationalProgram}" th:field="*{standard}" id="standard">
        <option th:each="standard : ${standards}" th:value="${standard.getId()}" th:text="${standard.getName()}">
        </option>
    </select>
    <div style="color: red" th:if="${#fields.hasErrors('standard')}" th:errors="*{standard}">Err</div>
    <br>

    <label for="institute">Выберите институт: </label>
    <select th:object="${educationalProgram}" th:field="*{institute}" id="institute">
        <option th:each="institute : ${institutes}" th:value="${institute.getId()}" th:text="${institute.getTitle()}">
        </option>
    </select>
    <div style="color: red" th:if="${#fields.hasErrors('institute')}" th:errors="*{institute}">Err</div>
    <br>

    <label for="head">Выберите ответственное лицо: </label>
    <select th:object="${educationalProgram}" th:field="*{head}" id="head">
        <option th:each="head : ${heads}" th:value="${head.getId()}" th:text="${head.getFullName()}">
        </option>
    </select>
    <div style="color: red" th:if="${#fields.hasErrors('head')}" th:errors="*{head}">Err</div>
    <br>

    <label for="accreditationTime">Введите дату аккредитации (yyyy-MM-dd): </label>
    <input type="date" th:field="*{accreditationTime}" id="accreditationTime"/>
    <div style="color: red" th:if="${#fields.hasErrors('accreditationTime')}" th:errors="*{accreditationTime}">Err</div>
    <br>

    <div class="form-group row">
        <label class="col-form-label col-sm-4">Модули: </label>
        <div class="col-sm-8 text-left">
            <th:block th:each="module : ${modules}">
                <input type="checkbox" th:field="*{modules}" th:text="${module.getTitle()}" th:value="${module.getId()}" class="m-2"/>
            </th:block>
        </div>
    </div>
    </div>
    <input type="submit" value="ОК"/>
</form>
<div th:if="${errors}">
    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>
</body>
</html>