<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Program modules</title>
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<div th:if="${modules.isEmpty()}">
    <p>У образовательной программы нет модулей</p>
    <hr/>
</div>


<div th:if="${!modules.isEmpty()}">
    <hr/>
    <b>Модули образовательной программы:</b>
    <br/>
    <table th:each="module : ${modules}">
        <form th:method="DELETE" th:action="@{/educationalPrograms/{id}/modules(id=${program.getId()})}">
            <input type="hidden" name="moduleId" th:value="${module.getId()}">
            <tr th:text="${module.getTitle() + ', '+ module.getType()}">
                module
            </tr>
            <input type="submit" value="Убрать модуль"/>
        </form>
    </table>
    <hr/>
</div>

<div th:if="${!freeModules.isEmpty()}">
    <form th:method="PATCH"
          th:action="@{/educationalPrograms/{id}/modules(id=${program.getId()})}">
        <div>
            <select class="form-control" name="moduleId">
                <option th:each="module : ${freeModules}"
                        th:value="${module.getId()}"
                        th:text="${module.getTitle()}"></option>
            </select>
        </div>
        <br/>
        <button type="submit">
            Добавить модуль
        </button>
    </form>
    <hr/>
</div>
</body>
</html>