<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Program modules</title>
</head>
<body>
<div th:if="${modules.isEmpty()}">
    <p>У образовательной программы нет модулей</p>
    <hr/>
</div>


<div th:if="${!modules.isEmpty()}">
    <hr/>
    <b>Модули:</b>
    <table th:each="module : ${modules}">
        <tr th:text="${module.getTitle() + ', '+ module.getType()}">module</tr>
        <form th:method="PATCH" th:action="@{/educationalPrograms/{id}/release(id=${program.getId()})}">
            <input type="submit" value="Убрать модуль"/>
        </form>
    </table>
    <hr/>
</div>

<table th:each="module : ${freeModules}">
    <tr th:text="${module.getTitle() + ', '+ module.getType()}">module</tr>
    <form th:method="PATCH" th:action="@{/educationalPrograms/{id}/assign(id=${program.getId()})}">
        <input type="submit" value="Добавить модуль"/>
    </form>
</table>
<hr/>
</body>
</html>