<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Educational Program Modules</title>
</head>
<body>
<div th:if="${!modules.isEmpty()}">
    <hr/>
    <b>Книги:</b>
    <table th:each="module : ${modules}">
        <tr th:text="${module.getTitle() + ', '+ module.getType()}">module</tr>
        <form th:method="PATCH" th:action="@{/modules/{id}/release(id=${module.getId()})}">
            <input type="submit" value="Удалить модуль"/>
        </form>
    </table>
    <hr/>
</div>
</body>
</html>