<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/modules/{id}(id=${module.getId()})}" th:object="${module}">
    <input type="hidden" th:field="*{id}" id="id"/>
    <label for="title">Название модуля: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Err</div>
    <br>
    <label for="type">Тип модуля: </label>
    <input type="text" th:field="*{type}" id="type"/>
    <div style="color: red" th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Err</div>
    <br>
    <input type="submit" value="Edit!"/>
</form>
</body>
</html>