<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New module</title>
</head>
<body>
<div th:if="${module.getId() == null}"><h1>Новый модуль</h1></div>
<div th:unless="${module.getId() == null}"><h1>Изменение модуля</h1></div>
<form th:method="POST" th:action="@{/modules}" th:object="${module}">
    <input type="hidden" th:field="*{id}"/>
    <label for="title">Введите название модуля: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Err</div>
    <br>
    <label for="type">Введите тип модуля: </label>
    <input type="text" th:field="*{type}" id="type"/>
    <div style="color: red" th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Err</div>
    <br>
    <input type="submit" value="Ок"/>
</form>
</body>
</html>